{% extends 'base.html.twig' %}

{% block gestion_page %}Ventes 
<form method="POST" action="/rechercheVente" class="align-middle text-center">
  <h5>Effectuer une recherche entre deux dates</h5>
      <label for="dateLocation">Première date : </label>
      <input style ="border-radius: 6px" type="date" name="dateUne">
      <label for="dateLocation">Deuxième date : </label>
      <input style ="border-radius: 6px" type="date" name="dateDeux">
      <br>
      <button type="submit" class="btn btn-info">Chercher</button>
</form>
{% endblock %}
{% block page_courante %}

{% endblock %}

{% block contenu %}

<body class="g-sidenav-show  bg-gray-200">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Listes des Ventes</h6>
                  
                </div>
              </div>
              <div >
                  <a href="/ajoutVente" style="float: left;"><button class="btn btn-success m-3">Ajouter une vente</button></a>

              </div>
                    <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ordre</th> 
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Vente</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Montant</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Voiture</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Client</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                            
                          </tr>
                        </thead>
      
                        <tbody>
                        {% for vente in ventes %}
                          <tr>
                            <td class="align-middle text-center">{{loop.index}}</td>
                            <td class="align-middle text-center">{{vente.getDateVente()|date('d-m-Y')}}</td>
                            <td class="align-middle text-center">{{vente.montant}}</td>
                            <td class="align-middle text-center">{{vente.voiture.marque}}</td>
                            <td class="align-middle text-center">{{vente.client.getNom()}} {{vente.client.getPrenom()}}</td>
                            <td class="align-middle text-center">
                              <a href="/readVente/{{vente.id}}" class="btn btn-info" data-toggle="tooltip" style="padding: 10;" data-original-title="Edit user">Détails</a>
                              <a href="/editVente/{{vente.id}}" class="btn btn-warning" data-toggle="tooltip" style="padding: 10;" data-original-title="Edit user">Modifier</a>
                              <a href="/deleteVente/{{vente.id}}" class="btn btn-danger" data-toggle="tooltip" style="padding: 10;" data-original-title="Edit user"
                              onclick="return confirm('     Cette action est irréversible !\n Etes vous sûr de supprimer cette vente ?');">Supprimer</a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      
          </div>
</body>
{% endblock %}

