{% extends 'base.html.twig' %}

{% block gestion_page %}Clients
{% endblock %}
{% block page_courante %}
{% endblock %}

{% block contenu %}

<body class="g-sidenav-show  bg-gray-200">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3 align-middle text-center">Information du client</h6>
                  
                </div>
              </div>
                    <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                          </br>
                            <h4 class="align-middle text-center">CNI<p>{{client.cni}}</p></h4>
                            <h4 class="align-middle text-center">Nom<p>{{client.nom}}</p></h4>
                            <h4 class="align-middle text-center">Prenom<p>{{client.prenom}}</p></h4>
                            <h4 class="align-middle text-center">Telephone<p>{{client.telephone}}</p></h4>
                            <h4 class="align-middle text-center">Nom utilisateur<p>{{client.nomUtilisateur}}</p></h4>
                            <div class="align-middle text-center">
                                <a href="/client"><button class="btn btn-warning m-3">Retour</button></a>
                            </div>
                          </tr>
                        </thead>
                      </table>
                    </div> 
          </div>
</body>
{% endblock %}

